*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-color: #f4f4f4;
  --dark-color: #333;
  --light-color: #666;
  --pri-dark-color: hsl(13, 80%, 12%);
  --pri-light-color: hsl(40, 90%, 65%);
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-color);
  background: var(--bg-color);
  word-break: keep-all;
}

.top {
  margin: auto;
  max-width: 55rem;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: block;
  font-weight: 800;
  font-size: 3.5rem;
  width: fit-content;
  line-height: 1;
}

.top div { width: fit-content; padding-inline: 0.25rem; }
.top p { font-size: 0.875rem; }

h1 {
  padding-block: 1em 0.5em;
  width: fit-content;
  font-size: 2.25rem;
  font-weight: 600;
}

h1::after,
h2::after {
  content: "";
  display: block;
  margin-top: 0.25em;
  width: 100%;
  height: 3px;
  background: var(--dark-color);
}

h2 { padding-block: 1em; width: fit-content; font-size: 1.5rem; font-weight: 600; }
header { position: sticky; top: 0; background-color: var(--bg-color); z-index: 100; }
nav { margin-inline: auto; max-width: 55rem; }
a { text-decoration: none; color: var(--dark-color); }
a:hover { color: var(--light-color); }

nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--dark-color);
}

nav ul a {
  flex-shrink: 0;
  padding-inline: 1.25rem;
  padding-block: 0.75rem;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out;
}

nav ul a:hover { background-color: var(--light-color); color: white; }
.active { font-weight: 900; background-color: var(--dark-color); color: white; }

main {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 55rem;
  min-height: 50vh;
}

section { padding-inline: 0.5rem; }
section p + p { margin-top: 0.65rem; }

footer {
  max-width: 55rem;
  margin-inline: auto;
  padding: 2rem 1rem;
  border-top: var(--dark-color) solid 3px;
  margin-top: 4rem;
  font-size: 1rem;
}

.grid-col-2 { display: grid; grid-template-columns: auto 1fr; gap: 0.5rem; }
.grid-head { font-weight: 800; text-align: end; }
.list { padding-left: 1.5rem; }
.list li { list-style-type: disc; margin: 0.4rem 0; }

.button {
  padding: 0.75rem 1rem;
  width: fit-content;
  border-radius: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background-color: var(--bg-color);
  color: var(--dark-color);
  font-weight: bold;
  border: 3px solid var(--dark-color);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover { color: #eee; background-color: var(--dark-color); }
.button-important { background-color: var(--pri-light-color); border-color: var(--pri-dark-color); color: var(--pri-dark-color); }
.button-important:hover { background-color: var(--pri-dark-color); color: #eee; }
.button-disabled { cursor: default; opacity: 0.7; }
.file-list { display: flex; flex-direction: row; flex-wrap: wrap; gap: 0.5rem; }
.placeholder { font-weight: 700; }
.notice { padding: 1rem; border: 3px solid var(--dark-color); border-radius: 0.5rem; }
.flex-row { padding-top: 0.5rem; display: flex; flex-wrap: wrap; gap: 0.5rem; }

@media screen and (max-width: 768px) {
  .top { padding: 1em; }
  .top div { padding-inline: 0.125rem; }
  .title { font-size: 2.5rem; }
  body { font-size: 16px; }
  nav ul a { padding-inline: 0.8rem; padding-block: 0.65rem; }
  h1 { font-size: 2rem; }
}

